
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');



body {
    font-family: 'Kalam', cursive;
    color: #333333;
    margin: 0;
    background-color: #fff;
   
}

:root {
    --primary-color: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}

/* nav */
nav {
    background-color: var(--primary-color);
    text-align: center;
    

}
    /* main */

    main {
        margin: auto;
        padding: 1rem;
        max-width: var(--width-break);
    }

    /* button */
    #btn-translate {
        background-color: var(--primary-color);
        border: none;
        outline: none;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 1rem 2rem;
        font-size: large;
        box-sizing: border-box;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        transition: 0.2s all;
    }

    #btn-translate:active{
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }

    /* textarea */

    textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: var(--width-break);
        min-height: 20vh;
        margin-top: 2rem;
        font-size: large;
        font-family: inherit;
        outline: none;

    }

    /* output */

    #output {
        box-sizing: border-box;
        width: 100%;
        min-height: 10vh;
        max-height: 20vh;
        overflow: scroll;
        border: 1px solid var(--black)
    }

    /* footer */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: var(--primary-color);
        text-align: center;
    }

    footer p {
        max-width: var(--width-break);
        margin: auto;
    }
